@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: $calendar-font;
}

.calendar {
  width: 800px;
  margin: 100px 0;
  @include flex-centered;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: $calendar-font-size;
}

.calendar div {
  @include flex-centered;
  width: $cell-width;
  height: $cell-height;
  background-color: $cell-background;
  border: $border-width solid $cell-border-color;
  margin: $cells-gap;
  color: $cell-text-color;
  &:hover {
    cursor: pointer;
    background-color: $cell-background-hover;
    transform: translateY(-20px);
    transition: 0.5s background-color, 0.5s transform;
  }
}

@for $day from 1 through 31 {
  .calendar div:nth-child(#{$day})::before {
    content: "#{$day}";
  }
}

@for $day from 28 through 31 {
  .calendar-#{$day} div:nth-child(n+#{$day+1}) {
    display: none;
  }
}

@each $day, $num in $days {
  .calendar-#{$day} div:first-child {
    margin-left: $border-width + ( $cell-width + ( $cells-gap * 2) ) * $num;
  }
}
